<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">

    <title>{{ shop.name }} - {{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
    {{ 'jquery.min.js' | asset_url | script_tag }}
    
  </head>
  <body>
    {{ skip_to_content_link }}
    {% unless settings.gtm-container-id == blank %}
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id={{ settings.gtm-container-id }}"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                                                          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                                })(window,document,'script','dataLayer','{{ settings.gtm-container-id }}');</script>
    <!-- End Google Tag Manager -->
    {% endunless %}
    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">
        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {{ content_for_layout }}
          </div>
          <div class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </div>
        </div>
        <div class="sidebar">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </div>
      </div>
    </div>

    <div class="order-summary__section order-summary__section--discount ui-element__discount">
      <form class="discount__form">
        <div class="fieldset">
          <div class="field">
            <div class="field__input-btn-wrapper">
              <div class="field__input-wrapper"><label class="field__label" for="custom-promo__code">PROMOTION CODE</label>
                <input placeholder="Gift Card or Discount Code" class="field__input billing__discount" autocomplete="off" size="30" type="text" id="custom-promo__code">
              </div>
              <button type="submit" class="field__input-btn btn discount__submit">
                <span class="btn__content visually-hidden-on-mobile">Apply</span>
                <i class="btn__content shown-on-mobile icon icon--arrow"></i>
                <i class="btn__spinner icon icon--button-spinner"></i>
              </button>
            </div>
            <p class="discount__invalid field__message field__message--error">Unable to find a valid discount matching the code entered</p>
          </div>
        </div>
      </form>
    </div>

    {{ tracking_code }}
    <script type="text/javascript">
      $(document).ready(function() {
        $('input[name="checkout[shipping_address][first_name]"]').attr('maxlength', 20);
        $('input[name="checkout[shipping_address][last_name]"]').attr('maxlength', 20);
        $('input[name="checkout[shipping_address][company]"]').attr('maxlength', 40);
        $('input[name="checkout[shipping_address][address1]"]').attr('maxlength', 40);
        $('input[name="checkout[shipping_address][address2]"]').attr('maxlength', 40);
        $('input[name="checkout[shipping_address][city]"]').attr('maxlength', 30);
      });
    </script>
  </body>
</html>

<style type="text/css">
  #livechat-compact-container {
      display: none; 
  }

  .order-summary__section--discount { display: none; }
  [class*=ui-element__] { display: none; }

  .section--reductions div[data-reduction-form] { display: none; }
</style>   